

<div id="content">
  <div id="map-canvas"></div><ul id="happening-list"></ul>
</div>


<%= javascript_include_tag 'frontPageBackbone', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'map', 'data-turbolinks-track' => true %>
