* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: auto;
}

body {
  margin: 0 100px;
}

#content {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 0;
}

#map-canvas {
  height: 100%;
}

ul#happening-list {
  padding: 0;
}
